# Copyright IBM Corp. All Rights Reserved.
#
# SPDX-License-Identifier: Apache-2.0
#

version: '2'

services:

  orderer.example.com:
    container_name: orderer.example.com
    image: hyperledger/fabric-orderer:x86_64-1.1.0
    environment:
      - ORDERER_GENERAL_LOGLEVEL=debug
      - ORDERER_GENERAL_LISTENADDRESS=0.0.0.0
      - ORDERER_GENERAL_GENESISMETHOD=file
      - ORDERER_GENERAL_GENESISFILE=/var/hyperledger/orderer/orderer.genesis.block
      - ORDERER_GENERAL_LOCALMSPID=OrdererMSP
      - ORDERER_GENERAL_LOCALMSPDIR=/var/hyperledger/orderer/msp
      # enabled TLS
      #- ORDERER_GENERAL_TLS_ENABLED=true
      #- ORDERER_GENERAL_TLS_PRIVATEKEY=/var/hyperledger/orderer/tls/server.key
      #- ORDERER_GENERAL_TLS_CERTIFICATE=/var/hyperledger/orderer/tls/server.crt
      #- ORDERER_GENERAL_TLS_ROOTCAS=[/var/hyperledger/orderer/tls/ca.crt]
    working_dir: /opt/gopath/src/github.com/hyperledger/fabric
    command: orderer
    volumes:
    - deploy_orderer_volume:/var/hyperledger/orderer/
    - deploy_orderer_production_volume:/var/hyperledger/production
    ports:
      - 7050:7050
      - 7054:7054

  peer0.org1.example.com:
    container_name: peer0.org1.example.com
    extends:
      file: peer-base.yaml
      service: peer-base
    environment:
      - CORE_PEER_ID=peer0.org1.example.com
      - CORE_PEER_ADDRESS=peer0.org1.example.com:7051
      - CORE_PEER_GOSSIP_EXTERNALENDPOINT=peer0.org1.example.com:7051
      - CORE_PEER_LOCALMSPID=Org1MSP
    volumes:
        - /var/run:/host/var/run/
        - deploy_peer0_crypto_msp_volume:/etc/hyperledger/fabric/msp
        - deploy_peer0_crypto_tls_volume:/etc/hyperledger/fabric/tls
    ports:
      - 7051:7051
      - 7053:7053

  peer1.org1.example.com:
    container_name: peer1.org1.example.com
    extends:
      file: peer-base.yaml
      service: peer-base
    environment:
      - CORE_PEER_ID=peer1.org1.example.com
      - CORE_PEER_ADDRESS=peer1.org1.example.com:7051
      - CORE_PEER_GOSSIP_EXTERNALENDPOINT=peer1.org1.example.com:7051
      - CORE_PEER_GOSSIP_BOOTSTRAP=peer0.org1.example.com:7051
      - CORE_PEER_LOCALMSPID=Org1MSP
    volumes:
        - /var/run:/host/var/run/
        - deploy_peer1_crypto_msp_volume:/etc/hyperledger/fabric/msp
        - deploy_peer1_crypto_tls_volume:/etc/hyperledger/fabric/tls
    ports:
      - 8051:7051
      - 8053:7053

  peer2.org1.example.com:
    container_name: peer2.org1.example.com
    extends:
      file: peer-base.yaml
      service: peer-base
    environment:
      - CORE_PEER_ID=peer2.org1.example.com
      - CORE_PEER_ADDRESS=peer2.org1.example.com:7051
      - CORE_PEER_GOSSIP_EXTERNALENDPOINT=peer2.org1.example.com:7051
      - CORE_PEER_GOSSIP_BOOTSTRAP=peer0.org1.example.com:7051
      - CORE_PEER_LOCALMSPID=Org1MSP
    volumes:
        - /var/run:/host/var/run/
        - deploy_peer2_crypto_msp_volume:/etc/hyperledger/fabric/msp
        - deploy_peer2_crypto_tls_volume:/etc/hyperledger/fabric/tls
    ports:
      - 9051:7051
      - 9053:7053

  peer3.org1.example.com:
    container_name: peer3.org1.example.com
    extends:
      file: peer-base.yaml
      service: peer-base
    environment:
      - CORE_PEER_ID=peer3.org1.example.com
      - CORE_PEER_ADDRESS=peer3.org1.example.com:7051
      - CORE_PEER_GOSSIP_EXTERNALENDPOINT=peer3.org1.example.com:7051
      - CORE_PEER_GOSSIP_BOOTSTRAP=peer0.org1.example.com:7051
      - CORE_PEER_LOCALMSPID=Org1MSP
    volumes:
        - /var/run:/host/var/run/
        - deploy_peer3_crypto_msp_volume:/etc/hyperledger/fabric/msp
        - deploy_peer3_crypto_tls_volume:/etc/hyperledger/fabric/tls
    ports:
      - 10051:7051
      - 10053:7053

volumes:
  deploy_orderer_production_volume:
    external: true
  deploy_orderer_volume:
    external: true
  deploy_peer0_crypto_msp_volume:
    external: true
  deploy_peer1_crypto_msp_volume:
    external: true
  deploy_peer2_crypto_msp_volume:
    external: true
  deploy_peer3_crypto_msp_volume:
    external: true
  deploy_peer0_crypto_tls_volume:
    external: true
  deploy_peer1_crypto_tls_volume:
    external: true
  deploy_peer2_crypto_tls_volume:
    external: true
  deploy_peer3_crypto_tls_volume:
    external: true